.App {
  background-image: url('/img/preorder-background-1.png');
  background-repeat: no-repeat;
}

.logobg {
  background-image: url('/img/logo.png');
  background-size: contain;
}

.App-grid {
  height: 100%;
}

.container-column {
  display: flex;
  flex-direction: column;
}

.container-row {
  display: flex;
  flex-direction: row;
}

.flex-item {
  flex-grow: 1;
  flex-basis: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flex {
  display: flex;
  flex-grow: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.map-grid {
  padding: 10px;
}

.someComponent-grid {
  padding: 10px;
}

.dash-right-grid {
  padding: 10px;
}

.dash-left-grid {
  flex-wrap: nowrap !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}